<section class="mywidth">
<div class="container">
                    <table class="table" >
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Headquaters</th>
                                <th>Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each model as  |item| }}
                            <tr>
                                {{!-- <th bgcolor="{{color}}"> --}}
                                <th class="{{color}}">
                                    {{item.name}}
                                </th>
                                <th class="{{color2}}">{{item.headquarters}}</th>
                                <th class="{{color3}}">{{item.revenue}}</th>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                	{{!-- {{#if edit}}
                        <ul class="list-group">
                            {{#each model as  |item| }}
                            <li class="list-group-item">{{item}}</li>
                            {{/each}}
                        </ul>      
                    {{/if}} --}}
        
</div>

	 
	<button {{action 'changeEdit'}} 
	         class="btn btn-primary" >Toggle
	</button>

</section>
